.home {
    grid-template-columns: 1.32fr 7.68fr;
    align-items: center;
    padding: 80px;
    height: 100vh;
}

.home_container {
    width: 300px;
    height: 460px;
    border-radius: 30px;
    border: 1px solid var(--title-text-color);
    background-color: #000;
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.9);

}

.home_image_title {
    font-size: var(--normal-font);
    margin: 20px 10px 15px;
}

.home_image_title span {
    font-size: var(--small-font);
    position: fixed;
    top: 90px;
    right: 10px;
}

.home_img {
    width: 90%;
    object-fit: cover;
    height: 230px;
    margin: 15px;
    border: 1px solid var(--title-text-color);
    border-radius: 30px;
}

 .home_details {
    margin-block: 10px 18px;
    text-align: center;
 }

.home_data {
    max-width: 600px;
    margin-inline: auto;
    padding-top: 20px;
}

.home_title {
    position: relative;
    font-size: var(--h2-font);
    line-height: 1.24;
}
 .home_title span {
    color: var(--main-color);
 }

 .home_description {
    line-height: 2.125;
    margin-block: 16px 32px;
 }

 .home_logo {
    position: fixed;
    bottom: 20px;
    right: 200px;
    width: 200px;
    height: 200px;
 }

.home_socials {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    margin-bottom: 20px;
}

 .home_social-link {
    background-color: var(--container-color);   
    color: var(--main-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    transition: all 0.3s ease;
}

.home_social-link:hover {
    background-color: var(--main-color);
    color: var(--text-white-color);
    transform: scale(1.2);
    transition-duration: 0.5s;
    box-shadow: 0 0 10px rgba(243, 243, 245, 0.4);
}

.home_button_container  {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    color: var(--text-white-color);
}

@media (max-width: 767px) {
    .home {
      grid-template-columns: none;
      align-items: center;
      padding: 20px;
      height: auto;
    }
  
    .home_container {
      width: 100%;
      margin-top: 10px;
      border-radius: 0;
      border: none;
      background-color: transparent;
      box-shadow: none;
    }
  
    .home_img {
      width: 100%;
      height: 390px;
      margin: 0;
      border: none;
    }
  
    .home_details {
        margin-block: unset;
      text-align: center;
      padding-top: 5px;
    }

    .home_socials {
        display: none;
    }   
  
    .home_data {
      max-width: 100%;
      margin-inline: 0;
      margin-top: 10px;
    }
  
    .home_title {
        display: none;
    }
  
    .home_title span {
        display: none;
        color: var(--main-color);
    }

    .home_button_container {
        margin-top: 15px;
    }

    .home_title-label {
        text-align: center;
    }
  
    .home_description {
      line-height: 1.5;
      margin-block: 16px 0;
    }
  
    .home_logo {
display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .home_container {
        width: 100%;
        height: auto;
        margin: auto;
    }

    .home {
        grid-template-columns: 4.32fr 7.68fr;
    }

    .home_img {
        width: 94%;
        height: auto;
        margin: 8px;
      }

      .home_details {
        margin-block: 5px 8px;
        font-size: var(--small-font);
     }

     .home_title {
        font-size: var(--h3-font);
    }

     .home_title span {
     font-size: var(--h3-font);
     }

     .home_socials {
        margin: 20px;
    }

    .home_button_container {
        margin-bottom: 25px;
    }

     .home_logo {
        bottom: 0px;
        right: 50px;
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .home_container {
        width: 100%;
        height: auto;
        margin: auto;
    }

    .home {
        grid-template-columns: 4.32fr 7.68fr;
    }

    .home_title {
        font-size: var(--h2-font);
    }

    .home_title span {
        font-size: var(--h2-font);
        }

        .home_button_container {
            margin-bottom: 25px;
        }

        .home_description {
            font-size: var(--large-font);
          }

          .home_logo {
            bottom: 80px;
            right: 50px;
        }

  }
  